<!-- <p>Segundo passo!</p>-->
<!--Tela de criação de conta-->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="color: #d20a11; background-color: #4d4d4d;">
                    <h1>Seja um associado</h1>
                    <h5>Crie sua conta aqui</h5>
                </div>
                <!--Form HTML bootstrap-->
                <form action="">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label" style="margin-top: 10px;">Nome
                            completo</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="nome"
                            autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Celular</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Celular"
                            autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="formGroupExampleInput" placeholder="email"
                            autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="formGroupExampleInput2"
                            placeholder="Senha de administrador" autocomplete="off">
                    </div>
                    <button type="button" class="btn btn-danger text-center">Criar conta</button>
                </form>
                <a class="novoclick" routerLink="/inicial">Página de login.</a>
            </div>
        </div>
    </div>
</div>