.card{
    margin-top: 15px;
    border: 1px solid gray;
    width: 550px;
    padding: 45px;
    position: absolute;
    top: 10%;
    left: 35%;
}

.novoclick{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #d20a11;
    margin-top: 20px;
    font-weight: bold;
}