<!-- <p>Começo do projeto!</p>-->
<!--Tela de login-->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center" style="color: #d20a11; background-color: #4d4d4d;">
                    <h1>Área do administrador central</h1>
                    <h5>Entre com sua senha</h5>
                </div>
                <!--Form HTML bootstrap-->
                <hr>
                <form action="">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">email:</label>
                        <input type="email" class="form-control" id="formGroupExampleInput" placeholder="email"
                            autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="formGroupExampleInput2"
                            placeholder="Senha de administrador" autocomplete="off">
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="button" class="btn btn-danger text-center">Entrar</button>
                    </div>
                </form>
                <a class="novoclick" routerLink="/terceiro">Novo por aqui? Clique.</a>
            </div>
        </div>
    </div>
</div>